.button {
    -fx-background-color: -primary;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-font-size: 16;
    -fx-padding: 1px 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 5, 0, 0, 5);

}

.button:hover {
    -fx-background-color: -hover;
}

.button:pressed {
    -fx-background-color: #4A86FF;
}

.button-close {
    -fx-background-color: none;
    -fx-fill: -secondary;
}

.button-book {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: -delete;
    -fx-text-fill: white;
}

.button-info {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: #4A86FF;
    -fx-text-fill: white;
}

.button-close .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-close:hover .glyph-icon {
    -fx-fill: black;
}

.button-administrador {
    -fx-background-color: -primary;
    -fx-text-fill: white;
}

.button-administrador .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-user {
    -fx-background-color: #4A86FF;
    -fx-text-fill: white;
}

.button-user .jfx-rippler {
    -jfx-rippler-fill: none;
}

/* כפתור לא */
.button-no {
    -fx-pref-height: 15px;
    -fx-background-color: -delete;
    -fx-text-fill: white;
}

.button-no .jfx-rippler {
    -jfx-rippler-fill: none;
}

/* כפתור כן */
.button-yes {
    -fx-pref-height: 15px;
    -fx-background-color: -primary;
    -fx-text-fill: white;
}

.button-yes .jfx-rippler {
    -jfx-rippler-fill: none;
}

/* כפתור ביטול */
.button-cancel {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-font-size: 12;
    -fx-background-color: white;
    -fx-border-color: -secondary;
    -fx-text-fill: -secondary;
}

.button-cancel .jfx-rippler {
    -jfx-rippler-fill: none;
}

/* כפתור מחיקה */
.button-delete {
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: -delete;
    -fx-text-fill: white;
}

.button-delete .jfx-rippler {
    -jfx-rippler-fill: none;
}
/* כפתורים לפי ז'אנרים שונים */
.button-blue {
    -fx-background-color: #449ced;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-green {
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-purple {
    -fx-background-color: #6A5ACD;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-red {
    -fx-background-color: #DC143C;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-pink {
    -fx-background-color: #FF69B4;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-blue {
    -fx-background-color: #00CED1;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-tomato{
    -fx-background-color: #FF6347;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-orange {
    -fx-background-color: #FFA500;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-light-green {
    -fx-background-color: #32CD32;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-light-purple {
    -fx-background-color: #9370DB;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-hot-pink {
    -fx-background-color: #FF1493;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}

.button-deep-purple {
    -fx-background-color: #8A2BE2;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-adventure {
    -fx-background-color: #3CB371; /* צבע רקע ירוק בינוני להרפתקה */
    -fx-text-fill: white;
    -fx-pref-width: 200px; /* דוגמה להגדלת רוחב לכפתור INFO ספציפי */

}

.button-family {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-fantasy {
    -fx-background-color: #7B68EE;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-sports {
    -fx-background-color: #228B22;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}

.button-default {
    -fx-background-color: #D3D3D3;
    -fx-text-fill: white;
    -fx-pref-width: 200px;

}
.button-gray {
    -fx-background-color: #b8afaf;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}