@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('context-menu.css');
@import url('colors.css');
@import url('text-components.css');
@import url('buttons.css');
@import url('tables.css');
@import url('menu.css');
@import url('scroll.css');
@import url('report.css');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}



.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* פופאפ */
.jfx-dialog-overlay-pane {
    -fx-background-radius: 10;
    -fx-background-color: white;
 }


/* תרשים עוגה */
.data0.chart-pie {
    -fx-pie-color: -primary;
}

.data1.chart-pie {
    -fx-pie-color: #2BA266;
}

.data2.chart-pie {
    -fx-pie-color: #41C474;
}

.chart-pie-label {
    -fx-font-family: "Lato";
    -fx-font-size: 15;
    -fx-fill: black;
}

/* התראות שגיאה */
.alert-error-button {
    -fx-font-family: "Lato";
    -fx-background-color: -delete;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
    -fx-font-size: 15;
}


.alert-error-title {
    -fx-font-family: "Lato";
    -fx-fill: -delete;
    -fx-font-size: 30;
}

.alert-error-body {
    -fx-font-family: "Lato";
    -fx-fill: -delete;
    -fx-font-size: 15;
}

/* התראות הצלחה */
.alert-success-button {
    -fx-font-family: "Lato";
    -fx-background-color: -primary;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
    -fx-font-size: 15;
}



.alert-success-title {
    -fx-font-family: "Lato";
    -fx-fill: -primary;
    -fx-font-size: 30;
}

.alert-success-body {
    -fx-font-family: "Lato";
    -fx-fill: -primary;
    -fx-font-size: 15;
}

/* תאריך */
.jfx-date-picker {
    -jfx-default-color: -secondery;
    -fx-font-size: 5;
}

.jfx-date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.jfx-date-picker .cell:focused {
    -fx-background-color: -primary;
    -fx-text-fill: white;
}

.jfx-date-picker .cell:hover {
    -fx-background-color: -primary;
    -fx-text-fill: white;
}


