.table-view {
    -fx-background-color: white;
}

.table-cell {
    -fx-border-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20px;
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-text-fill: -secondary;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30px;
    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: -secondary;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.action-button {
    -fx-font-size: 12px;
    -fx-font-family: 'Segoe UI', Arial, sans-serif;
    -fx-background-color: -primary;
    -fx-text-fill: white;
}

