
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}



.label {
    -fx-font-family: 'Lato';
    -fx-font-size: 12px;
    -fx-fill: #808080;
}

.movie-title {
    -fx-font-family: 'Lato';
    -fx-font-size: 20px;
    -fx-fill: #3b5998;
    -fx-font-weight: bold;
}

.detail {
    -fx-font-family: 'Lato';
    -fx-font-size: 16px;
    -fx-fill: #000000;
}

.serial-number {
    -fx-font-family: 'Lato';
    -fx-font-size: 12px;
    -fx-fill: #808080;
    -fx-font-weight: bold;
}

.movie-theater {
    -fx-font-family: 'Lato';
    -fx-font-size: 22px;
    -fx-fill: #3b5998;
    -fx-font-weight: bold;
}

.follow-us {
    -fx-font-family: 'Lato';
    -fx-font-size: 14px;
    -fx-fill: #3b5998;
    -fx-font-weight: bold;
}

.website {
    -fx-font-family: 'Lato';
    -fx-font-size: 12px;
    -fx-fill: #808080;
}

.ticket-left {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px 0 0 10px;
    -fx-border-color: #3b5998;
    -fx-border-width: 2px;
}

.ticket-right {
    -fx-background-color: #3b5998;
    -fx-padding: 20px;
    -fx-border-radius: 0 10px 10px 0;
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Lato';
    -fx-border-color: #3b5998;
    -fx-border-width: 2px;
}